       

        /*progressbar*/

        #progressbar {
            margin-bottom: 30px;
            overflow: hidden;
            /*CSS counters to number the steps*/
            counter-reset: step;
            display: flex;
        }

        #progressbar li {
            list-style-type: none;
            color: #1b6f80;
            text-transform: uppercase;
            font-size: 12px;
            width: 24.33%;
            float: left;
            position: relative;
            letter-spacing: 1px;
            text-align: center;
        }

        #progressbar li:before {
            content: counter(step);
            counter-increment: step;
            width: 24px;
            height: 24px;
            line-height: 26px;
            display: block;
            font-size: 12px;
            color: #333;
            background: #efecec;
            border-radius: 25px;
            margin: 0 auto 10px auto;
        }

        /*progressbar connectors*/

        #progressbar li:after {
            content: '';
            width: 90%;
            height: 1px;
            background: #efecec;
            position: absolute;
            left: -45%;
            top: 9px;
            z-index: 0;
        }

        #progressbar li:first-child:after {
            /*connector not needed before the first step*/
            content: none;
        }

        /*marking active/completed steps green*/

        /*The number of the step and the connector before it = green*/

        #progressbar li.active:before, #progressbar li.active:after {
            background: #1b6f80;
            color: white;
        }

        /* Not relevant to this form */

        #msform fieldset:not(:first-of-type) {
            display: none;
        }


        .nav_up{
            padding:15px;
            background-color:white;
            border:1px solid rgb(156, 19, 19);
            position:fixed;
            background:transparent url('../images/arrow_up.png') no-repeat top left;
            background-position:50% 50%;
            width:20px;
            height:20px;
            bottom:10px;
            opacity:0.7;
            left:90%;
            white-space:nowrap;
            cursor: pointer;
            -moz-border-radius: 3px 3px 3px 3px;
            -webkit-border-top-left-radius:3px;
            -webkit-border-top-right-radius:3px;
            -khtml-border-top-left-radius:3px;
            -khtml-border-top-right-radius:3px;
            filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
            float: right;
        }
        .nav_down{
            padding:15px;
            background-color:white;
            border:1px solid rgb(156, 19, 19);
            position:fixed;
            background:transparent url('../images/arrow_down.png') no-repeat top left;
            background-position:50% 50%;
            width:20px;
            height:20px;
            bottom:10px;
            opacity:0.7;
            left: 93%;
            white-space:nowrap;
            cursor: pointer;
            -moz-border-radius: 3px 3px 3px 3px;
            -webkit-border-top-left-radius:3px;
            -webkit-border-top-right-radius:3px;
            -khtml-border-top-left-radius:3px;
            -khtml-border-top-right-radius:3px;
            filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
            float: right;
        }

        .nav-tabs-new>li>a {
        
            border: 1px solid #17a2b8;
            margin-left: 5px !important;
        }

        table.table {
          
        color: #000000 !important;
 
        }